[submodule "target-switch/libc"]
	path = target-switch/libc
	url = https://github.com/rust-lang/libc
[submodule "target-wasm/winit"]
	path = target-wasm/winit
	url = https://github.com/rust-windowing/winit
